@import '@/styles/variables.scss'; 
#login {
  width: 450px;
}
.login-text {
  color: $primary_text;
}
.login-input-container {
  margin-bottom: 1.25rem;
}
.login-checkbox {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 600px) {
  #login {
    max-width: 330px;
  }
}