@import '@/styles/variables.scss'; 
#login {
  width: 450px;
  position: relative;
}
.login-text {
  color: $primary_text;
}
.login-input-container {
  margin-bottom: 1.25rem;
}
.test-btn {
  position: absolute;
  top: 0;
  right: 32px;
  z-index: 2;
  transform: translateY(-50%);
  color: #2563eb;
}
@media (max-width: 600px) {
  #login {
    max-width: 350px;
  }
}
@media (max-width: 350px) {
  #login {
    max-width: 320px;
  }
}